<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="WCFClientPK"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_SecurityService" allowCookies="false">
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:8080/SecurityDemo" bindingConfiguration="WSHttpBinding_SecurityService" binding="wsHttpBinding" contract="ClientProxy.SecurityService" name="WSHttpBinding_SecurityService">
        <identity>
          <certificate encodedValue=""/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
    <!--<system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_SecurityService">
                    <security>
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SecurityDemo/SecurityServiceImpl"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_SecurityService"
                contract="ClientProxy.SecurityService" name="WSHttpBinding_SecurityService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>-->
</configuration>