<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--指定异步模式-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--开启调试-->
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.serviceModel>
    <services>
      <!--可以设定多个service-->
      <!--<service name ="SecurityService.SecurityServiceImp"  behaviorConfiguration="myBehavior">-->
      <service name ="SecurityDemo.SecurityServiceImpl">
        <!--基地址-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/SecurityDemo"/>
          </baseAddresses>
        </host>
        <!--终节点属性-->
        <!--如果address不是绝对则会加上基地址-->
        <endpoint address="SecurityServiceImpl" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig" contract="SecurityDemo.SecurityService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--元数据的交换形式,部署时删除-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <!--设定服务的其他属性-->
    <behaviors>
      <!--可以全部服务使用一种属性，也可以为特性的服务配置不同的属性-->
      <serviceBehaviors>
        <behavior>
          <!--部署时设定为false-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!--调试时设置为true，部署时设置为false，避免异常信息泄露-->
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceCredentials>
            <serviceCertificate storeName="My" storeLocation="LocalMachine" findValue="WCFServerPK" x509FindType="FindBySubjectName"/>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="SecurityDemo.MyX509CertificateValidator,SecurityDemo"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>

        <!--<behavior name="myBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig">
          <security mode="Message">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="Certificate" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>